@model LmsWhinker.Context.course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.content1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.featuredImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.featuredImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeCourse.userCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeCourse.userCreation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCourse }) |
    @Html.ActionLink("Back to List", "Index")
</p>
